# Ignorer tous les dossiers node_modules dans le projet
**/node_modules/

# Ignorer les fichiers environnementaux
**/.env

# Ignorer les fichiers de logs
**/logs/
**/*.log

# Ignorer les fichiers de dépendances lock (si tu ne veux pas versionner les lockfiles)
# Attention : certains préfèrent versionner les fichiers lock (yarn.lock, package-lock.json)
**/yarn.lock
**/package-lock.json

# Ignorer les dossiers de build
**/dist/
**/build/

# Ignorer les fichiers spécifiques à l'OS
.DS_Store  # macOS
Thumbs.db  # Windows