.contact-container {
    text-align: center;
    padding: 80px 20px;
    max-width: 1200px;
    margin: auto;
    margin-top: 200px;
}

.contact-header {
    background-color: #6a9174;
    color: white;
    padding: 50px 0;
    font-size: 2rem;
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    gap: 50px;
}

.contact-info {
    margin-top: -180px;
}

.contact-info, .contact-form {
    width: 50%;
    text-align: left;
}

.contact-info h2, .contact-form h2 {
    color: #6a9174;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    margin: 5px 0;
}

.contact-item svg {
    color: #34607d;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fbf2e8;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color: white;
}

.contact-form button {
    background-color: #34607d;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.social-icons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    margin-left: 80px;
}

.social-icons a {
    font-size: 2rem;
    color: #34607d;
}

/* Responsive */
@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
        text-align: center;
    }

    .contact-info, .contact-form {
        width: 100%;
    }
}
